table {
    font-size: 1cm;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

body {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
